<ion-side-menus ng-controller="AppCtrl as app" delegate-handle="sideMenuDelegate" enable-menu-with-back-views="false">

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header menu-background">
    <div class="text-center">
      <img class="avatar mtm mbm" src="img/little-avatar.png">
    </div>
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/results">
         <i class="icon-stats-bars ico prm"></i>Mijn resultaten
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/movies">
          <i class="icon-film ico prm"></i>Video's van de oefeningen
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/data">
          <i class="icon-file-text ico prm"></i>Mijn schema van vandaag
        </ion-item>
        <ion-item nav-clear menu-close href="#app/tips">
          <i class="icon-bulb ico prm"></i>Tips voor na de cursus
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/goals">
          <i class="icon-target ico prm"></i>Mijn doel van vandaag
        </ion-item>
        <ion-item nav-clear menu-close href="#app/score">
         <i class="icon-trophy ico prm"></i>Mijn score
        </ion-item>
         <ion-checkbox ng-repeat="item in app.practise" ng-model="item.checked" ng-change="app.warning()" ng-checked="item.checked">
          {{item.text }}
        </ion-checkbox>
       <!--  <div class="text-center">

        <svg class="line-menu" viewBox="0 0 300 600" width="300px" height="420px" version="1.1" xmlns="http://www.w3.org/2000/svg">

          <path d="M10 80 Q 95 10 180 80" stroke="#334344" stroke-width="{{app.lineWidth}}" fill="transparent"/>

        </svg>
        </div> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
