<ion-side-menus ng-controller="AppCtrl as app" delegate-handle="sideMenuDelegate" enable-menu-with-back-views="false">

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
        <button menu-close menu-toggle="right"class="button button-icon icon ion-navicon"></button>
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close ng-click="app.login()">
          Login
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/results">
          results
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/movies">
          Movies
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/data">
          Data
        </ion-item>
         <ion-checkbox ng-repeat="item in app.practise" ng-model="item.checked" ng-change="app.warning()" ng-checked="item.checked">
          {{item.text }}
        </ion-checkbox>  
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
