<ion-view title="Saved art">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
   <h1>Saved art</h1>
  <div ng-controller="SavedCtrl as savedCtrl">
    <slick autoplay="false" arrows="false" autoplaySpeed="500" fade="false"> 
      <div class="text-center" ng-repeat="result in savedCtrl.results">
        <img class="img art-image" ng-if="result.webImage" ng-src="{{result.webImage.url}}" alt="{{result.title}} Cover Image">
        <h2 class="content oldscool">{{result.title}}</h2>
        <a href="#/app/savedresult/{{result.objectNumber}}" class="button oldscool button-large">Schilderij bekijken</a>
      </div> 
    </slick>
  </div>
  </ion-content>
</ion-view>
