/* Empty. Add your own CSS if you like */
@import url(http://fonts.googleapis.com/css?family=Marck+Script);


@font-face {
    font-family: Roboto;
    src: url(RobotoCondensed-Regular.ttf);
    font-weight: bold;
}

.img {
	width:98%;
	margin-left: 1%;
	}

.text-deco-none{
  text-decoration: none;
}

.text-center{
  text-align: center;
}

.pos-rel{
  position: relative;
}

.bg-white{
  background-color: #ffffff;
}

.pas{
  padding: 5px !important;
}

#svg2{
  margin: 0 auto;
}

.line{
  position: absolute;
  left: 53%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

.size-xxl{
  font-size: 16px;
  color: #fff;
}

::-webkit-input-placeholder {
   color: #fff !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff !important; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff !important;
}

:-ms-input-placeholder {  
   color: #fff !important;  
}


.card, .list-inset{
  background-color: none;
  background: transparent;
}

input[readonly]:not(.cloned-text-input){
  background-color: none;
  background: transparent;
}

/*input{
  background-color: none;
  background: transparent;
}*/


.br-100{
  border-radius: 100% !important;
}

.text-white{
  color: #fff !important;
}

.plxxl{
  padding-left: 25px;
}

.pll{
  padding-left: 10px;
}

.neg-mt-5{
  margin-top: -5px;
}

.row + .row {
  margin-top: -10px;
}

.prxxl{
  padding-right: 25px;
}

h3.header{
  color: #fff;
  font-family: 'Roboto', cursive !important;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 0px;
  letter-spacing: 1.20000004768372px;
}

.datepick{
  position: fixed !important;
  top: 0px;
  margin-left: 0px;
  margin-top: -44px;
  display: block;
  z-index: 99999;
  width: 100%;
}

.mtxxl{
  margin-top: 20px !important;
}

.mt-44{
  margin-top: 44px !important;
}

.blue{
  background-color: blue;
}

.red{
  background-color: #FF6E5E;
}

.right{
  float: right;
}

.left{
  float: left;
}

.prxxl{
  padding-right: 32px;
}

.content{
  color: #fff;
}

.ion-navicon{
  color: #fff !important;
}

.nav-clear{
  background-color: #E6130D;
}

.bar-stable{
  background-color: #E6130D !important;
}

.menu{
  background-color: #E6130D !important;
}

.button{
  color: #fff;
  background: transparent !important;
}

.button-large{
  margin-top: 30px;
}

.button.button-positive{
  background-color: none !important;
  background: transparent !important;
}

.text-nodeco{
  text-decoration: none;
}

#chart{
  left: -300;
}

.item{
  background-color: none !important;
  background: transparent !important;
  color: #fff !important;
}

h1.header{
  color: #fff !important;
  font-family: 'Roboto', cursive !important;
}

h2{
  color: #fff;
  font-family: 'Roboto', cursive !important;
}

.slider { 
  height: 100%; 
  text-align: center 
}
.scroll { 
  height: 100% 
}

.item {
  color: #000;
  font-family: 'Roboto', cursive !important;
}

.item p{
  color: #fff;
}

.item-complex .item-content, .item-radio .item-content{
  color: #fff !important;
  background-color: none !important;
  background: transparent !important;
}

.item-stacked-label input, .item-stacked-label textarea{
  color: #fff !important;
  background-color: none !important;
  background: transparent !important;
}

.input-label{
  color: #fff;
}

.item .item-content{
  font-family: 'Roboto', cursive !important;
  color: #fff !important;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bar.bar-stable{
  background-color: #EF4E3A;
}

.score-points{
  font-size: 1.2em;
}

.score{
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
}

.pt-stutter{
  display : none;
  position: absolute;
  background-color: #FF6E5E;
  color: #fff;
  padding: 10px;
  height: 120px;
  right: 10px;
  width: 300px;
  font-size: 1.5em;
  border-radius: 100%;
  z-index: 100;
}

.checkbox input:before, .checkbox .checkbox-icon:before{
  border-color: #1abc9c;
  background-color: none !important;
  background: transparent !important;
}

.pt-tel{
  display : none;
  position: absolute;
  background-color: #1abc9c;
  color: #fff;
  padding: 10px;
  height: 120px;
  right: 40px;
  width: 160px;
  font-size: 1.5em;
  border-radius: 100%;
  z-index: 100;
}

.scroll-content{
 background: url(../img/iphone-3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pt-stutter .after-stutter:after{
    content: "";
  border: 30px solid transparent;
  border-top: 40px solid #FF6E5E;
  position: absolute;
  left: 65%;
  -ms-transform: rotate(65deg); /* IE 9 */
  -webkit-transform: rotate(65deg); /* Safari */
  transform: rotate(65deg);
  top: 60%;
} 

.pt-tel .after-stutter:after{
    content: "";
  border: 25px solid transparent;
  border-top: 35px solid #1abc9c;
  position: absolute;
  left: 65%;
  -ms-transform: rotate(65deg); /* IE 9 */
  -webkit-transform: rotate(65deg); /* Safari */
  transform: rotate(65deg);
  top: 60%;
} 

.points-stutter{
  position: absolute;
  left: 50px;
  top: 35px;
}

.pt-stutter-10{
  display : none;
  position: absolute;
  background-color: #1abc9c;
  color: #fff;
  padding: 10px;
  height: 120px;
  right: 10px;
  width: 300px;
  font-size: 1.5em;
  border-radius: 100%;
  z-index: 100;
}

.pt-tel-10{
  display : none;
  position: absolute;
  background-color: #FF6E5E;
  color: #fff;
  padding: 10px;
  height: 120px;
  left: 10px;
  width: 160px;
  font-size: 1.5em;
  border-radius: 100%;
  z-index: 100;
}

.pt-stutter-10 .after-stutter-10:after{
  content: "";
  border: 30px solid transparent;
  border-top: 40px solid #1abc9c;
  position: absolute;
  left: 65%;
  -ms-transform: rotate(65deg); /* IE 9 */
  -webkit-transform: rotate(65deg); /* Safari */
  transform: rotate(65deg);
  top: 60%;
}

.pt-tel-10 .after-stutter-10:after{
  content: "";
  border: 25px solid transparent;
  border-top: 35px solid #FF6E5E;
  position: absolute;
  left: 65%;
  -ms-transform: rotate(65deg); /* IE 9 */
  -webkit-transform: rotate(65deg); /* Safari */
  transform: rotate(65deg);
  top: 60%;
}  

.points-stutter-10{
  position: absolute;
  left: 50px;
  top: 35px;
}

.pt-practise{
  display : none;
  position: absolute;
  background-color: #1abc9c;
  color: #fff;
  padding: 10px;
  height: 120px;
  right: 10px;
  width: 300px;
  font-size: 1.2em;
  border-radius: 100%;
  z-index: 100;
}

.points-practise{
  position: absolute;
  left: 50px;
  top: 35px;
}

.pt-practise .after-practise:after{
  content: "";
  border: 30px solid transparent;
  border-top: 40px solid #1abc9c;
  position: absolute;
  left: 65%;
  -ms-transform: rotate(65deg); /* IE 9 */
  -webkit-transform: rotate(65deg); /* Safari */
  transform: rotate(65deg);
  top: 60%;
}

.pt-consequent{
  display : none;
  position: absolute;
  background-color: #1abc9c;
  color: #fff;
  padding: 10px;
  height: 120px;
  right: 10px;
  width: 300px;
  font-size: 1.2em;
  border-radius: 100%;
  z-index: 100;
}

.points-consequent{
  position: absolute;
  left: 50px;
  top: 35px;
}

.pt-consequent .after-consequent:after{
  content: "";
  border: 30px solid transparent;
  border-top: 40px solid #1abc9c;
  position: absolute;
  left: 65%;
  -ms-transform: rotate(65deg); /* IE 9 */
  -webkit-transform: rotate(65deg); /* Safari */
  transform: rotate(65deg);
  top: 60%;
}

.pt--10{
  display : none;
  position: absolute;
  background-color: #FF6E5E;
  color: #fff;
  padding: 10px;
  height: 120px;
  right: 50px;
  width: 160px;
  font-size: 1.5em;
  border-radius: 100%;
  z-index: 100;
}

.ch--10{
  display : none;
  position: absolute;
  background-color: #FF6E5E;
  color: #fff;
  padding: 10px;
  height: 120px;
  right: 50px;
  width: 160px;
  font-size: 1.5em;
  border-radius: 100%;
  z-index: 100;
}

.points-10{
  position: absolute;
  left: 50px;
  top: 35px;
}

.pt--10 .after-10:after{
  content: "";
  border: 20px solid transparent;
  border-top: 30px solid #FF6E5E;
  position: absolute;
  left: 65%;
  -ms-transform: rotate(65deg); /* IE 9 */
  -webkit-transform: rotate(65deg); /* Safari */
  transform: rotate(65deg);
  top: 70%;
}

.ch--10 .after-10:after{
  content: "";
  border: 20px solid transparent;
  border-top: 30px solid #FF6E5E;
  position: absolute;
  left: 65%;
  -ms-transform: rotate(65deg); /* IE 9 */
  -webkit-transform: rotate(65deg); /* Safari */
  transform: rotate(65deg);
  top: 70%;
}

.pt-10{
  display : none;
  position: absolute;
  background-color: #1abc9c;
  color: #fff;
  padding: 10px;
  height: 120px;
  right: 70px;
  width: 160px;
  font-size: 1.5em;
  border-radius: 100%;
  z-index: 100;
}

.ch-10{
  display : none;
  position: absolute;
  background-color: #1abc9c;
  color: #fff;
  padding: 10px;
  height: 120px;
  right: 70px;
  width: 160px;
  font-size: 1.5em;
  border-radius: 100%;
  z-index: 100;
}

.pt-10 .after:after{
  content: "";
  border: 20px solid transparent;
  border-top: 30px solid #1abc9c;
  position: absolute;
  left: 65%;
  -ms-transform: rotate(65deg); /* IE 9 */
  -webkit-transform: rotate(65deg); /* Safari */
  transform: rotate(65deg);
  top: 70%;
}

.ch-10 .after:after{
  content: "";
  border: 20px solid transparent;
  border-top: 30px solid #1abc9c;
  position: absolute;
  left: 65%;
  -ms-transform: rotate(65deg); /* IE 9 */
  -webkit-transform: rotate(65deg); /* Safari */
  transform: rotate(65deg);
  top: 70%;
}  

.points{
  position: absolute;
  left: 50px;
  top: 35px;
}


.white{
  color: #fff !important;
}

.slide-wrapper{
  height: 100%;
  width: 86%;
  margin: 0 auto;
}

.slider{
  height: 100%;
  overflow: visible;
}

.slider-slide{
  overflow: hidden;
  background-color: none;
  background: transparent;
  text-align: center;
}

ion-slide{
  padding-right: 3px;
  padding-left: 3px;
}

ion-slide:first-child { padding-left: 0; }
ion-slide:last-child { padding-right: 0; }

ion-slide:nth-child(2) { z-index: 1; }

ion-slide .box{
  position: relative;
  width: 100%;
  height: 100%;
}

.item-content:active{
  background-color: #000 !important;
}

.popup-title{
  color: rgb(82, 101, 162);
  font-family: 'Roboto', cursive !important;
  font-size: 19px;
  font-weight: 300;
  margin-bottom: 0px;
  letter-spacing: 1.20000004768372px;
}

.content {
	width: 95%;
	margin-left: 3%;
}

.mrm {
  margin-right: 10px !important;
}

.mtm{
  margin-top: 20px !important;
}

.mbm{
  margin-bottom: 20px;
}

.mbxl{
  margin-bottom: 40px;
}

.mlm{
  margin-left: 10px !important;
}

.center {
	left: 50%;
	-webkit-transform: translateX(-50%);
  		-ms-transform: translateX(-50%);
  		transform: translateX(-50%);
}

.slice{
  font-size: 1.1em;
  fill: #fff;
  font-family: Helvetica;
}

.logo-size{
  width: 50%;
  height: auto;
}

.fade-in-1 .lay-over{
  display: block;
}

.fade-in-2 .lay-over{
  display: none;
}

.fade-in-3 .lay-over{
  display: none;
}

.lay-over{
  display: block;
}

.lay-over{
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 93%;
  height: 200px;
  top: 0;
}

.slider-pager .slider-pager-page {
  color: #fff;
}

.lay-over > span{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}

.centerme {
  margin: 0 auto;
  width: 100%;
  height:100%;
}
 
.fullscreen-player {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: none;
  position: fixed;
  right: 0;
  top: 0;
}

.video-overlay{
  width: 98%;
  height: 97%;
  margin-left: 5px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.57;
  position: absolute;
  top: 0;
  left: 0;
}

.playbutton{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  font-size: 90px;
  opacity: 1;    
}


.tab-item{
  font-family: 'Roboto', cursive !important;
}

h1{
  color: #fff !important;
}

.header-logo{
  position: absolute;
  top: 0px;
  left: 20%;
  width: 40px;
  height: 35px;
}

.all-content{
  display: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000 !important;
  shape-rendering: crispEdges;
}

  .chart {
    font-family: Arial, sans-serif;
    font-size: 10px;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .bar {
    fill: steelblue;
  }


.spinner svg {
  position: absolute;
  left:50%;
  top: 50%;
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #444;
}


