/* Empty. Add your own CSS if you like */
@import url(http://fonts.googleapis.com/css?family=Marck+Script);


@font-face {
    font-family: Roboto;
    src: url(RobotoCondensed-Regular.ttf);
    font-weight: bold;
}

.img {
	width:98%;
	margin-left: 1%;
	}

.text-deco-none{
  text-decoration: none;
}

.text-center{
  text-align: center;
}

.bg-white{
  background-color: #ffffff;
}

.plxxl{
  padding-left: 25px;
}

.neg-mt-5{
  margin-top: -5px;
}

.prxxl{
  padding-right: 25px;
}

h3.header{
  color: rgb(82, 101, 162);
  font-family: 'Roboto', cursive !important;
  font-size: 19px;
  font-weight: 300;
  margin-bottom: 0px;
  letter-spacing: 1.20000004768372px;
}

.datepick{
  position: fixed !important;
  top: 0px;
  margin-left: 0px;
  margin-top: -44px;
  display: block;
  z-index: 99999;
  width: 100%;
}

.mtxxl{
  margin-top: 20px !important;
}

.mt-44{
  margin-top: 44px !important;
}

.blue{
  background-color: blue;
}

.red{
  background-color: red;
}

.right{
  float: right;
}

.left{
  float: left;
}

.prxxl{
  padding-right: 32px;
}

.content{
  color: #fff;
}

.ion-navicon{
  color: #fff !important;
}

.nav-clear{
  background-color: #E6130D;
}

.bar-stable{
  background-color: #E6130D !important;
}

.menu{
  background-color: #E6130D !important;
}

.button{
  color: #fff;
}

.button-large{
  margin-top: 30px;
}

.text-nodeco{
  text-decoration: none;
}

h1.header{
  color: #000 !important;
  font-family: 'Roboto', cursive !important;
}

h2{
  color: #000;
  font-family: 'Roboto', cursive !important;
}

.slider { 
  height: 100%; 
  text-align: center 
}
.scroll { 
  height: 100% 
}

.item {
  background-color: #fff;
  color: #000;
  font-family: 'Roboto', cursive !important;
}

.item .item-content{
  background-color: #fff !important;
  font-family: 'Roboto', cursive !important;
  color: #000 !important;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bar.bar-stable{
  background-color: #EF4E3A;
}

.white{
  color: #fff !important;
}

.slide-wrapper{
  height: 100%;
  width: 86%;
  margin: 0 auto;
}

.slider{
  height: 100%;
  overflow: visible;
}

.slider-slide{
  overflow: hidden;
  background-color: #fff;
  text-align: center;
}

ion-slide{
  padding-right: 3px;
  padding-left: 3px;
}

ion-slide:first-child { padding-left: 0; }
ion-slide:last-child { padding-right: 0; }

ion-slide:nth-child(2) { z-index: 1; }

ion-slide .box{
  position: relative;
  width: 100%;
  height: 100%;
}

.item-content:active{
  background-color: #000 !important;
}

.popup-title{
  color: rgb(82, 101, 162);
  font-family: 'Roboto', cursive !important;
  font-size: 19px;
  font-weight: 300;
  margin-bottom: 0px;
  letter-spacing: 1.20000004768372px;
}

.content {
	width: 95%;
	margin-left: 3%;
}

.mrm {
  margin-right: 10px !important;
}

.mtm{
  margin-top: 20px;
}

.mbm{
  margin-bottom: 20px;
}

.mbxl{
  margin-bottom: 40px;
}

.mlm{
  margin-left: 10px !important;
}

.center {
	left: 50%;
	-webkit-transform: translateX(-50%);
  		-ms-transform: translateX(-50%);
  		transform: translateX(-50%);
}

.slice{
  font-size: 1.1em;
  fill: #fff;
  font-family: Helvetica;
}

.logo-size{
  width: 200px;
  height: auto;
}

.tab-item{
  font-family: 'Roboto', cursive !important;
}

h1{
  color: #fff !important;
}

.header-logo{
  position: absolute;
  top: 0px;
  left: 20%;
  width: 40px;
  height: 35px;
}
